{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center mb-3">Poll questions</h1>
  {% if latest_question_list %}
    {% for question in latest_question_list %}
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="lead">
            {{ question.question_text }}
          </h2>
          <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote now!</a>
          <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-sm">View results</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h2 class="text-center mb-3">No polls available</h2>
  {% endif %}
{% endblock %}
